<!doctype html>
<html>
<head>
  <title>Goodbye</title>
</head>
<body>
    <form action='/madlib' method='POST'>
        Please name a person.
        <input type="text" name="person">
        Please choose a color.
        <input type="checkbox" name="colors" value="pink">Pink
        <input type="checkbox" name="colors" value="blue">Blue
        <input type="checkbox" name="colors" value="green">Green
        Please choose a noun.
        <select name="noun">
            <option value="dog">Dog</option>
            <option value="chinchilla">Chinchilla</option>
            <option value="horse">Horse</option>
        </select>
        Please choose an adjective.
        <input type="radio" name="adjective" value="silly">Silly
        <input type="radio" name="adjective" value="funny">Funny
        <input type="radio" name="adjective" value="happy">Happy
        <input type="submit">
    </form>
</body>
</html>